<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <img id="home-img" src="https://media.istockphoto.com/id/1183227712/vector/info-help-sign-icon-vector-symbol-line-outline-art-black-and-white-information-bubble-speech.jpg?s=612x612&w=0&k=20&c=UGy9qxFVjl75deHihTVnPKXPota9t1KbWJgQgdikfDw=" alt="image" >
    <h1 class="display-6">Information sharing website</h1>
    <p class="lead">Share your Information anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
